
    
.N{
    color:#34A85A;
font-style: oblique;
font-family: 'Times New Roman', Times, serif;
font-size: large;
text-align: justify;
margin-left:70px ;
}
.we{
    color:#34A85A;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    font-size: large;
    text-align: justify;
    font-style: oblique;
    margin-left: 70px;
    

}
#in{
color:#34A85A;
font-family: 'Times New Roman', Times, serif;
font-size:large ;
font-style: oblique;
text-align: justify;
margin-left:70px;
}
.text{
    font-style: oblique;
    color: #34A85A;
    font-size:large;
    text-align: justify;
    font-style: oblique;
    margin-left:70px ;
}
body{
    background-color:rgb(214, 16, 16);

}

